/* ******** Propiedades perzonalidas ******** */

:root {
    --color-primario: rgb(23, 19, 75);
    --color-secundario: rgb(0, 234, 255);
    --color-terciario: rgb(255, 0, 221);
    --color-neutro: rgb(192, 192, 192);
    --color-enlace: rgb(121, 164, 245);
    --font: "Nunito", sans-serif;
    --max-width: 1200px;
    --heigth-header: 4.4rem;
}


/* ******** Resetear valores ******** */

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    /* para ocultar lo que se derborde del body */
    overflow: hidden;
}

a {
    color: var(--color-enlace);
    transition: all 0.2s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6rem;
}


/* ******** Componentes ******** */


/* ******** Menu ******** */

.menu-btn {
    background-color: var(--color-secundario);
    border: 0;
    cursor: pointer;
}

.menu-btn svg {
    fill: var(--color-primario);
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--heigth-header);
    width: 100%;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu.activo {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-enlace);
}

.menu a:hover {
    color: var(--color-secundario);
    background-color: var(--color-primario);
}

@media screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }
    .menu {
        position: static;
        opacity: 1;
        width: auto;
        flex-direction: row;
        pointer-events: auto;
    }
    .menu a {
        padding: 0.8rem;
    }
    .menu a:hover {
        background-color: transparent;
        color: var(--color-primario);
    }
}


/* ******** Utilidades ******** */

.box-shadow {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25rem);
}

.btn-contactar {
    width: 200px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 5rem;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}


/* ********Estilos del sitio ******** */

.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem 2rem 0 2rem;
    width: 100%;
    height: var(--heigth-header);
    background-color: var(--color-secundario);
}

.header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a img {
    width: 4rem;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    .header {
        position: sticky;
        top: 0;
        padding: 0.5rem;
    }
}